*/bin/*
*/obj/*
WindowsFormsApplication2/cublas32_50_35.dll
WindowsFormsApplication2/cudart32_50_35.dll
WindowsFormsApplication2/cufft32_50_35.dll
WindowsFormsApplication2/cvextern.dll
WindowsFormsApplication2/npp32_50_35.dll
WindowsFormsApplication2/opencv_calib3d249.dll
WindowsFormsApplication2/opencv_contrib249.dll
WindowsFormsApplication2/opencv_core249.dll
WindowsFormsApplication2/opencv_features2d249.dll
WindowsFormsApplication2/opencv_ffmpeg249.dll
WindowsFormsApplication2/opencv_flann249.dll
WindowsFormsApplication2/opencv_gpu249.dll
WindowsFormsApplication2/opencv_highgui249.dll
WindowsFormsApplication2/opencv_imgproc249.dll
WindowsFormsApplication2/opencv_legacy249.dll
WindowsFormsApplication2/opencv_ml249.dll
WindowsFormsApplication2/opencv_nonfree249.dll
WindowsFormsApplication2/opencv_objdetect249.dll
WindowsFormsApplication2/opencv_photo249.dll
WindowsFormsApplication2/opencv_stitching249.dll
WindowsFormsApplication2/opencv_video249.dll
WindowsFormsApplication2/opencv_videostab249.dll
